<div>
	

	<link rel = "stylesheet" href = "../../assets/css/profilestyle.css">
	
			<section class = "details">
				<div class = "details-container">
					<div class = "p-heading">
						<h3> {{ user.firstName }} {{user.lastName}} </h3>
					</div>
					<div>
						<h4>@{{user.username}}</h4>
					</div>
					<div>
						<p style = "text-align: center;">{{user.bio}}</p>
					</div>
					<div class = "edit-button-container">
						<button class = "edit-button">Edit Profile</button>
				</div>
				
				<div class = "profile-container">
					<div class = "p-box">
						<div class = "p-box-img">
							<img src="../images/friendprofile.png" alt=""/>
						</div>
						
						<div class = "p-box-details">
							<form action = '/users/edit-profile?_method=PUT' method = "POST">
								<label for = "username">USERNAME</label>
									<input type = "text" id = "username" name = "username"  value = "{{ user.username }}" class = "disabled-input"><br><br>
								<label for = "bio">BIO</label>
									<input type="text" id="bio" name="bio" value = "{{ user.bio }}"  class = "disabled-input"><br><br>
								<label for = "fname">FIRST NAME</label>
									<input type = "text" id = "fname" name = "firstName" value = "{{ user.firstName }}" class = "disabled-input"><br><br>
								<label for = "lname">LAST NAME</label>
									<input type = "text" id = "lname" name = "lastName" value = "{{ user.lastName }}" class = "disabled-input"><br><br>
								<label for = "email">EMAIL</label>
									<input type = "text" id = "email" name = "email" value = "{{ user.email }}" class = "disabled-input"><br><br>
								<div class = "edit-button-container">
									<button class = "edit-button">Save</button>
								</div>
							</form> 
						</div>
					</div>
				</div>
			</section>
</div>

<script>

const editButton = document.querySelector(".edit-button");
editButton.addEventListener("click", () => {
	const inputs = document.querySelectorAll(".disabled-input");

	for (let i = 0; i < inputs.length; i++)	{
		inputs[i].classList.remove("disabled-input");
	}
})


	
</script>